

<div class="container">
  <div class="table-responsive" style="margin-top: 30px;">
    <table id="bookListTable" class="table bordered highlight">
      <thead>
        <tr>
          <th>Id</th>
          <th>Products</th>
          <th>Customer Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.orderId}}</td>
          <td>
            <span *ngFor="let product of order.products | simpProds">
              <span *ngFor="let pro of product">
                {{pro}}
              </span>
            </span>
          </td>
          <td>{{order.shippingAddress.firstName}} {{order.shippingAddress.lastName}}</td>
          <td>
            {{order.shippingAddress.city}} , {{order.shippingAddress.township}} , {{order.shippingAddress.streetAddress}}
          </td> 
          <td>
            {{order.shippingAddress.confirmEmail}}
          </td>
          <td>
            {{ getTotal(order) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>