<div class="container">
  <div class="card shadow mt-5">
    <div [hidden]="productUpdate">
      <h3 class="text-center  mt-5">
        New Product Information <span style="font-size:small">* is a required field</span>
      </h3>
      <hr>
      <form class="p-5" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="title">* Product Name</label>
            <input type="text" required
                   class="form-control" id="title"
                   required [(ngModel)]="product.productName"
                   name="title" >
          </div>
          <div class="form-group col-md-6">
            <label for="author">* Product Code</label>
            <input type="text" class="form-control"
                   id="author" required name="author"
                   [(ngModel)]="product.productCode">
          </div>
        </div>
        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="publisher">* Shipping Weight</label>
            <input type="number" class="form-control"
                   name="publisher" id="publisher"
                   [(ngModel)]="product.shippingWeight">
          </div>

          <div class="form-group col-md-6">
            <label for="category">* Category</label>
            <select id="category"name="category" class="form-control" [(ngModel)]="product.category">
              <option selected>Choose...</option>
              <option value="Management">Management</option>
              <option value="Fiction">Fiction</option>
              <option value="Engineering">Engineering</option>
              <option value="Programming">Programming</option>
              <option value="Arts &amp; Literature">Arts &amp; Literature</option>
            </select>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="listPrice">* List Price</label>
            <input type="number" class="form-control"
                   id="listPrice" name="listPrice"
                   [(ngModel)]="product.listPrice">
          </div>
          <div class="form-group col-md-6">
            <label for="ourPrice">* Our Price</label>
            <input type="number" class="form-control"
                   id="ourPrice" name="ourPrice"
                   [(ngModel)]="product.ourPrice">
          </div>
        </div>
        <div class="form-group ">
          <label for="description">* Description</label>
          <textarea id="description" name="description"
                    class="form-control" [(ngModel)]="product.productDescription"></textarea>
        </div>
        <div class="form-group">
          <label for="image" class="mx-3">* Upload Image</label>
          <input type="file" id="image" name="image">
        </div>

        <hr>
        <button type="submit" class="btn btn-outline-success mx-3">Add Product</button>
        <button type="cancel" class="btn btn-outline-danger">Cancel</button>
      </form>
    </div>

  </div>
  <div class="row" [hidden]="!productUpdate">
    <h3 class="text-center text-success">Created new Product successfully!</h3>
  </div>

  {{product|json}}

</div>
