<div class="container">
  <div class="table-responsive" style="margin-top: 30px;">
    <table id="bookListTable" class="table bordered highlight">
      <thead>
      <tr>
        <th>
          <input type="checkbox" (change)="updateSelected($event.target.checked)" />
        </th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Target Size</th>
        <th>Our Price</th>
        <th>In Stock</th>
        <th>Operation</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let product of productList">
        <td>
          <input hidden="hidden" name="id" />
          <input type="checkbox" [checked]="allChecked" (change)="updateRemoveBookList($event.target.checked, product)" />
        </td>
        <td><a (click)="onSelect(product)" style="cursor:pointer">{{product.productName}}</a></td>
        <td>{{product.category}}</td>
        <td>{{product.targetSize}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>
          <input hidden="hidden" name="id" />
          <button mat-button (click)="openDialog(product)" value="delete"><span class="fa fa-times"></span> delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <button mat-raised-button class="mat-warn mx-3" id="deleteSelected" (click)="removeSelectedBooks()">Delete Selected</button>
  <a mat-raised-button class="btn btn-outline-info ml-atuo" routerLink="/addProduct">Add Product</a>
</div>
